.details-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
}

.details-modal-content h2 {
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.details-modal-content p {
    margin-bottom: 10px;
}

.details-modal-edit-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

.details-modal-edit-button:hover {
    background: #0458ac;
}

.details-modal-cancel-button {
    background-color: #f8f9fa;
    color: #212529;
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

.details-modal-cancel-button:hover {
    background-color: #ccc;
}